<div class="main-wrap">
<div class="header">
  <label id="example-radio-group-label">Please, choose region:</label>
  <mat-radio-group
    aria-labelledby="example-radio-group-label"
    class="example-radio-group radios"
    [(ngModel)]="favoriteSeason">
    <mat-radio-button color="primary" class="example-radio-button" *ngFor="let season of seasons" [value]="season">
      {{season}}
    </mat-radio-button>
  </mat-radio-group>
</div>
<div  class="wrap">
  <mat-slider
    class="example-margin"
    [disabled]="disabled"
    [max]="max"
    [min]="min"
    [step]="step"
    [discrete]="thumbLabel"
    [showTickMarks]="showTicks">
    <input matSliderThumb [(ngModel)]="value">
  </mat-slider>
  <p>{{value}}</p>
</div>
<div>
  <button (click)="generate()" class="download">GENERATE</button>
  <button (click)='downloadCSV()' class="download">Export to CSV</button>
  <div class="wrap-table">
  <table >
    <tbody>
    <tr>
      <th>Index</th>
      <th>Identifier</th>
      <th>Full name</th>
      <th>Address</th>
      <th>Phone</th>
    </tr>
    <tr *ngFor="let data of dataSource">
      <td>{{data.index}}</td>
      <td>{{data.identifier}}</td>
      <td>{{data.name}}</td>
      <td>{{data.address}}</td>
      <td>{{data.phone}}</td>
    </tr>
    </tbody>
  </table>
</div>
</div>
</div>
