.wrap {
  display: flex;
  justify-content: center;

}

.example-container {
  height: 1010px;
  overflow: auto;
  font-size: 10px;
}

table {
  width: 100%;
}
.list{
  height: 20px !important;
}
tr.mat-footer-row {
  border: 1px solid #e7e7e7;
  font-weight: bold;
  height: 20px !important;
}
.download {
  margin: 10px;
  background-color: rgba(36, 42, 138, 0.97);
  border-radius: 10%;
  border-style: none;
  height: 30px;
  color: #e7e7e7;
}
