<div  class="wrap">

  <mat-slider
    class="example-margin"
    [disabled]="disabled"
    [max]="max"
    [min]="min"
    [step]="step"
    [discrete]="thumbLabel"
    [showTickMarks]="showTicks">
    <input matSliderThumb [(ngModel)]="value">
  </mat-slider>

  <p>{{value}}</p>

</div>
<div>
  <button (click)="randomName()" class="download">TEST</button>
  <button (click)="generate()" class="download">GENERATE</button>
  <button (click)='downloadCSV()' class="download">Export to CSV</button>
  <mat-table [dataSource]="dataSource" class="mat-elevation-z8 example-container">
    <ng-container matColumnDef="position">
      <mat-header-cell *matHeaderCellDef> Index </mat-header-cell>
      <mat-cell *matCellDef="let element" class="list"> {{element.index}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef> Identifier </mat-header-cell>
      <mat-cell *matCellDef="let element" class="list"> {{element.identifier}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="weight">
      <mat-header-cell *matHeaderCellDef> Full name </mat-header-cell>
      <mat-cell *matCellDef="let element" class="list"> {{element.name}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="symbol">
      <mat-header-cell *matHeaderCellDef> Address </mat-header-cell>
      <mat-cell *matCellDef="let element" class="list"> {{element.address}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="phone">
      <mat-header-cell *matHeaderCellDef> Phone </mat-header-cell>
      <mat-cell *matCellDef="let element" class="list"> {{element.phone}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</div>

